name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0', '3.1', '3.2', '3.3']
        gemfiles:
          - gemfiles/active_model_6.0.gemfile
          - gemfiles/active_model_6.1.gemfile
          - gemfiles/active_model_7.0.gemfile
          - gemfiles/active_model_7.1.gemfile
          - gemfiles/active_model_edge.gemfile
        exclude:
          - ruby-version: '3.0'
            gemfiles: gemfiles/active_model_7.1.gemfile
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/${{ matrix.gemfiles }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        gemfile: ${{ matrix.gemfiles }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake
